<div id="iframe_id">
<h1>商品一覧</h1>
<% items.each do |item| %>
    <%= item.id %>
	<%= item.name %>
	<%= item.price %>
	<% if item.ctype == nil %>
	  <%= image_tag ('no_image.png'), size: 10*10 %>
	<% else %>
	  <%= image_tag(show_image_path(item.id), size: 10*10) %>
	<% end %>
	<%= item.maker.name %>
	<%= item.genre.name %>
	<%= link_to "編集", edit_admin_item_path(item.id), remote: true %>
	<div id="result"></div>
	<%= link_to "消去", admin_item_path(item.id),method: :delete %><br>

<% end %>
<div class="add-item"></div>
</div>
