

<%= form_for(@item, url: admin_items_path, remote: true) do |f| %>
  <%= f.text_field :name, placeholder: "名前" %>
  <%= f.text_field :image_id, placeholder: "画像" %>
  <%= f.number_field :price, placeholder: "値段" %>
  <%= f.collection_select( :maker_id, Maker.all, :id, :name) %>
  <%= f.collection_select( :genre_id, Genre.all, :id, :name) %>
  <%= f.submit '商品登録' %>
<% end %>

<%= form_for(@genre, url: genre_path) do |f| %>
  <%= f.text_field :name, placeholder: "ジャンル名" %>
  <%= f.submit 'ジャンル登録' %>
<% end %>

<%= form_for(@maker, url: maker_path) do |f| %>
  <%= f.text_field :name, placeholder: "メーカー名" %>
  <%= f.text_field :maker_url,placeholder: "URL" %>
  <%= f.submit 'メーカー登録' %>
<% end %>

<%= form_for(@occupation, url: occupation_path) do |f| %>
  <%= f.text_field :name, placeholder: "職種名" %>
  <%= f.submit '職種登録' %>
<% end %>

<%= link_to "戻る", admins_index_path %>

<div id="render-item">
<%= render "admin/items/index", items: @items %>
</div>
<%= render "admin/items/genre", genres: @genres %>
<%= render "admin/items/maker", makers: @makers %>
<%= render "admin/items/occupation", occupations: @occupations %>