<h1>ログインおめでとう！</h1>
<%= link_to "情報登録ページ", new_admin_item_path %>
<%= link_to "ユーザー一覧", admin_users_path %>
<%= link_to "ログアウト", admins_top_path %>
<%= @admin.id %>
<%= session.to_hash %>

<div class="button">クリック</div>
<div class="place"></div>