<%= @user.name %>
<%= @user.occupation.name %>
<% if @user.ctype == nil %>
    <%= image_tag ('no_image.png'), size: 10*10 %>
<% else %>
    <%= image_tag(show_user_image_path(@user.id), size: 10*10) %>
<% end %>
<% if Relationship.exists?(followed_id: @user.id, follower_id: session[:user_id]) %>
<%= form_for @relationship, url: user_follow_destroy_path(@user), method: :get do |f| %>
    <%= f.submit "フォロー解除" %>
<% end %>
<% else %>
<%= form_for @relationship, url: user_followed_path(@user), method: :get do |f| %>
    <%= f.submit "フォローする" %>
<% end %>
<% end %>
フォロワー数
<%= @user.follower_relationships.count %>
フォロワー一覧
<% @user.follower_relationships.each do |relationship| %>
  <%= relationship.follower.name %>
<% end %>
フォロー数
<%= @user.followed_relationships.count %>
フォロー一覧
<% @user.followed_relationships.each do |relationship| %>
  <%= relationship.followed.name %>
<% end %>
<% @user.reports.each do |report| %>
<div class="report-box">
  <div class="report-title">
	<%= link_to report.title, report_path(report) %>
</div>
    <div class="report-create-time">
    <%= report.created_at.strftime('%Y年%m月%d日 %H:%M') %>
  </div>
  <div class="report-body">
  <br><%= report.body %>
</div>
    <%= link_to "RE投稿する",new_sub_report_path(report), remote: true %>
<div class="value-action<%= report.id %>">
<%= render "reports/report_value", report: report %>
</div>
  </div>
<% end %>
<% if @user.id == session[:user_id] %>
<button class="user-edit-button button">編集する</button>
<div class="user-edit">
<%= render "users/edit", user: @user %>
</div>
閲覧履歴
<% @user.watchs.each do |watch| %>
  <%= watch.report.user.name %>
  <%= watch.report.title %>
  <%= watch.report.body %>
<% end %>
<% end %>
    <div class="new-sub-create"></div>
    <div class="value"></div>