<div class="user-box">
  <div class="user-image-box">
    <div class="user-image-square">
      <%= render "users/image", user: @user.id, s: 11 %>
    </div>
    <% if @user.id != session[:user_id] %>
      <div class="follow">
        <% if Relationship.exists?(followed_id: @user.id, follower_id: session[:user_id]) %>
          <%= link_to "フォロー解除", user_follow_destroy_path(@user), class:"follow-submit ing" %>
        <% else %>
          <%= link_to "フォローする", user_followed_path(@user), class:"follow-submit" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="user-info-box">
    <div class="user-name">
      <%= @user.name %>
    </div>
    <div class="user-occupation">
      <%= @user.occupation.name %>
    </div>
    <div class="user-login-time">
      最終ログイン
      <% if @user.login_time != nil %>
        <% t = Time.now - @user.login_time %>
        <% if 0 <= t && t < 60 %>
          <%= t.floor %>秒前
        <% elsif 60 <= t && t < 3600 %>
          <%= (t / 60).floor %>分前
        <% elsif 3600 <= t && t< 86400 %>
          <%= (t / 3600).floor %>時間前
        <% elsif %>
          <%= (t / 86400).floor %>日前
        <% end %>
      <% end %>
    </div>
    <div class="user-follow button">
      フォロー<br>
      <%= @user.followed_relationships.count %>
    </div>
    <div class="user-follow-index">
    <table>
      <% @user.followed_relationships.each do |relationship| %>
        <tr>
          <td>
            <div class="report-image-square <%= relationship.followed.id %>">
              <%= render "users/image", user: relationship.followed.id, s: 7 %>
            </div>
          </td>
          <td>
            <%= link_to relationship.followed.name, user_path(relationship.followed.id) %>
          </td>
        </tr>
      <% end %>
    </table>
      <button class="close-sub-report-button">閉じる</button>
    </div>
    <div class="user-follower button">
      フォロワー<br>
      <%= @user.follower_relationships.count %>
    </div>
    <div class="user-follower-index">
      <table>
        <% @user.follower_relationships.each do |relationship| %>
          <tr>
            <td>
              <div class="report-image-square <%= relationship.follower.id %>">
                <%= render "users/image", user: relationship.follower.id, s: 7 %>
              </div>
            </td>
            <td>
              <%= link_to relationship.follower.name, user_path(relationship.follower.id) %>
            </td>
          </tr>
        <% end %>
      </table>
      <button class="close-sub-report-button">閉じる</button>
    </div>
    <% if @user.id == session[:user_id] %>
      <div class="user-edit-button button">編集する</div>
      <div class="user-edit">
        <%= render "users/edit", user: @user %>
      </div>
      <div class="view-history button">
        閲覧履歴
      </div>
      <div class="view-history-info">
        <table>
          <% @user.watchs.each do |watch| %>
            <tr>
              <td>
                <div class="report-image-square <%= watch.report.user.id %>">
                  <%= render "users/image", user: watch.report.user.id, s: 7 %>
                </div>
              </td>
              <td>
                <%= link_to watch.report.user.name, user_path(watch.report.user.id) %>
              </td>
              <td>
                <%= link_to watch.report.title, report_path(watch.report.id) %>
              </td>
            </tr>
          <% end %>
        </table>
        <button class="close-sub-report-button">閉じる</button>
      </div>
      <div class="image-edit button">画像をリサイズする</div>
    <div class="image-render">
      <%= render "users/edit_image", user: @user %>
    </div>
    <% end %>
  </div>
</div>
<div class="new-sub-create"></div>
<div class="value"></div>
<div class="users-report">
  <% @user.reports.order(created_at: :desc).each do |report| %>
    <%= render "reports/list", report: report %>
  <% end %>
</div>