<%= form_tag items_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "検索" ,:name => nil %>
<% end %>

<%= form_tag items_path, :method => 'get' do %>
  <%= collection_select( :item, :maker_id, Maker.all, :id, :name, :include_blank => true) %>
  <%= collection_select( :item, :genre_id, Genre.all, :id, :name, :include_blank => true) %>
  <%= submit_tag "検索" %>
<% end %>

<% if @i == 0 %>
<div>一致する商品がありません！</div>
<% end %>
<% @items.each do |item| %>
  <%= link_to item.name, item_path(item.id) %>
  <%= image_tag(show_image_path(item.id), size: 10*10) %>
  <%= item.price %>
  <%= item.maker.name %>
  <%= item.genre.name %><br>
<% end %>
