<div class="report-box">
  <div class="report-image-box">
    <%= link_to user_path(report.user) do %>
      <% if report.user.ctype == nil %>
        <%= image_tag ('/images/no_image.png'), size: 7*7, class:"report-user-image" %>
      <% else %>
        <%= image_tag(show_user_image_path(report.user.id), size: 7*7, class:"report-user-image") %>
      <% end %>
    <% end %>
  </div>
  <div class="report-info-box">
    <% if report.user.flag == 1 %>
      <p class="report-user-name">退会したユーザー</p>
    <% else %>
      <%= link_to report.user.name, user_path(report.user.id),class:"report-user-name" %>
    <% end %>
    <div class="report-create-time">
      <%= report.created_at.strftime('%Y年%m月%d日 %H:%M') %>
    </div>
    <div class="report-title">
      <%= link_to report.title, report_path(report) %>
    </div>
    <div class="report-language">
      <%= report.language.name %>
    </div>
    <% if session[:user_id] != nil %>
      <%= link_to "RE投稿する", new_sub_report_path(report), remote: true, class:"new-sub-report" %>
    <% end %>
    <div class="report-body">
      <%= report.body %>
    </div>
    <div class="value-action<%= report.id %>">
      <%= render "reports/report_value", report: report %>
    </div>
  </div>
</div>
<div class="new-sub-create"></div>