<% if @users != nil %>
  <% @users.last(5).each do |user| %>
    <div class="search-user-box">
      <%= link_to user_path(user.id) do %>
        <% if user.ctype == nil %>
          <%= image_tag ('/images/no_image.png'), size: 9*9, class:"user-image" %>
        <% else %>
          <%= image_tag(show_user_image_path(user.id), size: 9*9, class:"user-image") %>
        <% end %>
      <% end %>
      <div class="search-user-name">
        <%= link_to user.name, user_path(user.id) %>
      </div>
    </div>
  <% end %>
<% end %>
<% @reports.last(20).each do |report| %>
  <%= render"reports/list", report: report %>
<% end %>
<div class="new-sub-create"></div>