<!DOCTYPE html>
<html>
  <head>
    <title>Desks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h1><%= link_to "DESKS", reports_path %></h1>
    <%= form_tag reports_path, method: :get do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "検索" %>
    <% end %>
    <% if session[:user_id] != nil %>
    <nav class="nav-list">
      <%= link_to "CONTRIBUTION", new_report_path, class:"nav-list-link" %>
    </nav>
    <nav class="nav-list">
      <%= link_to "MY PAGE", user_path(session[:user_id]), class:"nav-list-link" %>
    </nav>
    <nav class="nav-list">
      <%= link_to "LOG OUT", top_path, class:"nav-list-link" %>
    </nav>
    <% else %>
    <nav  class="nav-list">
      <%= link_to "LOG IN", top_path, class:"nav-list-link" %>
    </nav>
    <% end %>
    <nav  class="nav-list">
      <div class="nav-list-link">LANGUAGE</div>
      <div class="language-list">
        <%= form_tag reports_path, method: :get do %>
        <%= collection_select( :report, :language_id, Language.all, :id, :name, :include_blank => true) %>
        <%= submit_tag %>
      <% end %>
      </div>
    </nav>
    <nav  class="nav-list">
      <div class="nav-list-link">OCCUPATION</div>
      <%= form_tag users_path, method: :get do %>
        <%= collection_select( :user, :occupation_id, Occupation.all, :id, :name, :include_blank => true) %>
        <%= submit_tag %>
      <% end %>
    </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <div class="sidebar">
      <% if session[:user_id] != nil %>
        <% if User.find(session[:user_id]).ctype == nil %>
          <%= image_tag ('no_image.png'), size: 14*14 %>
        <% else %>
          <%= image_tag(show_user_image_path(session[:user_id]), size: 14*14) %>
        <% end %>
      <div class="session-user-name">
        <%= User.find(session[:user_id]).name %>
      </div>
      <div class="session-follower button">
        <div class="session-follower-text">
      follower<br>
      <%= User.find(session[:user_id]).follower_relationships.count %>
      </div>
      </div>
      <div class="session-follower-info">
      一覧
      <% User.find(session[:user_id]).follower_relationships.each do |relationship| %>
      <div class="follower-info-box">
      <% if relationship.follower.ctype == nil %>
      <%= image_tag ('no_image.png'), class:"follower-image" %>
      <% else %>
      <%= image_tag(show_user_image_path(relationship.follower.id), class:"follower-image") %>
      <% end %>
      <div class="follower-name">
      <%= link_to relationship.follower.name, user_path(relationship.follower) %>
      </div>
      </div>
      <% end %>
      <button class="close-sub-report-button">閉じる</button>
      </div>
      <div class="session-follow button">
        <div class="session-follow-text">
      follow<br>
      <%= User.find(session[:user_id]).followed_relationships.count %>
      </div>
      </div>
      <div class="session-follow-info">
      一覧
      <% User.find(session[:user_id]).followed_relationships.each do |relationship| %>
      <div class="follower-info-box">
      <% if relationship.follower.ctype == nil %>
      <%= image_tag ('no_image.png'), class:"follower-image" %>
      <% else %>
      <%= image_tag(show_user_image_path(relationship.follower.id), class:"follower-image") %>
      <% end %>
      <div class="follower-name">
      <%= link_to relationship.followed.name, user_path(relationship.followed) %>
      </div>
      </div>
      <% end %>
      <button class="close-sub-report-button">閉じる</button>
      </div>
      <% else %>
        <%= image_tag ('no_image.png'), size: 14*14 %>
      <% end %>
      <h1>HOT LANGUAGE</h1>
      <% @languages = Language.all %>
      <% e = [] %>
      <% @languages.each do |language| %>
        <% a = language.view %>
        <% b = 0 %>
        <% c = 0 %>
        <% d = language.reports.count %>
        <% language.reports.each do |report| %>
          <% b += report.view %>
          <% c += report.sub_reports.count %>
        <% end %>
        <% language.name %>
        <% e.push(a + b + c + d,language.name) %>
      <% end %>
      <% f = e.in_groups_of(2) %>
      <% g = f.sort.reverse{|a, b| a[0] <=> b[0]} %>
      <% g.each do |g1, g2| %>
        <%= g2 %><br>
      <% end %>
    </div>
  </body>
</html>
