<!DOCTYPE html>
<html>
  <head>
    <title>Desks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h1><%= link_to "DESKS", reports_path %></h1>
    ようこそ
    <% if session[:user_id] != nil %>
      <%= User.find(session[:user_id]).name %>
    <% else %>
      ゲスト
    <% end %>
    さん
    <nav class="nav-list">
      <%= link_to "ITEMS", items_path, class:"nav-list-link" %>
    </nav>
    <% if session[:user_id] != nil %>
    <nav class="nav-list">
      <%= link_to "CONTRIBUTION", new_report_path, class:"nav-list-link" %>
    </nav>
    <nav class="nav-list">
      <%= link_to "MY PAGE", user_path(session[:user_id]), class:"nav-list-link" %>
    </nav>
    <nav class="nav-list">
      <%= link_to "LOG OUT", top_path, class:"nav-list-link" %>
    </nav>
    <% else %>
    <nav  class="nav-list">
      <%= link_to "LOG IN", top_path, class:"nav-list-link" %>
    </nav>
    <% end %>
    </header>
    <main>
    <%= yield %>
    </main>
    <div class="sidebar">
      <% if session[:user_id] != nil %>
        <% if User.find(session[:user_id]).ctype == nil %>
          <%= image_tag ('no_image.png'), size: 14*14 %>
        <% else %>
          <%= image_tag(show_user_image_path(session[:user_id]), size: 14*14) %>
        <% end %>
        <%= User.find(session[:user_id]).name %>
      <% else %>
        <%= image_tag ('no_image.png'), size: 10*10 %>
      <% end %>
    </div>
  </body>
</html>
