<!DOCTYPE html>
<html>
  <head>
    <title>Desks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h1><%= link_to "DESKS", reports_path %></h1>
    ようこそ
    <% if session[:user_id] != nil %>
      <%= User.find(session[:user_id]).name %>
    <% else %>
      ゲスト
    <% end %>
    さん
    <% if session[:user_id] != nil %>
    <nav>
      <%= link_to "投稿", new_report_path %>
    </nav>
    <nav>
      <%= link_to "マイページ", user_path(session[:user_id]) %>
    </nav>
    <nav>
      <%= link_to "ログアウト", top_path %>
    </nav>
    <% else %>
      <%= link_to "ログインページ", top_path %>
    <% end %>
    </header>
    <div>
      検索
    <%= yield %>
  </body>
</html>
